.header {
  text-align: center;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(33, 33, 33);
  color: silver;
}

.logo {
  padding: 0.5rem;
  justify-self: center;
}

.header-content {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.win-message {
  color: gold;
}

.score {
  display: flex;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}
