
/* Simple Css reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* border: 1px solid black; */
}

html {
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
}
 h1 {
   font-weight: 600;
 }